<html lang="en" ng-app="Andebooks">
  <head>
  <title>AndeBooks</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
<!-- ng-controller='andebooksCtrl' -->
  <body layout="column">
    <md-toolbar layout="row">
      <h1 class="md-toolbar-tools" layout-align-gt-sm="left"><a href='#/books'>AndeBooks</a></h1>
        <md-button ng-href='/#/login' ng-if='!loggedIn' flex='15'>Log In</md-button>
        <md-button  ng-controller='mainCtrl' ng-click='doLogout()' ng-if='loggedIn' flex='15'>Log Out {{user.username}}</md-button>
        <md-button ng-href='/#/books'>Books</md-button>
        <md-button ng-href='/#/users'>Users</md-button>
    </md-toolbar>

    <div ng-view></div>

    <!-- Angular Material Dependencies -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
    <script  type="text/javascript" src="js/controllers/main.controller.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/controllers/book/edit.book.ctrl.js"></script>
    <script type="text/javascript" src="/js/controllers/book/add.book.ctrl.js"></script>
    <script type="text/javascript" src="/js/controllers/book/books.ctrl.js"></script>
    <script type="text/javascript" src="/js/controllers/book/random.book.ctrl.js"></script>
    <script type="text/javascript" src="/js/controllers/book/author.book.ctrl.js"></script>
    <script type="text/javascript" src="/js/controllers/book/category.book.ctrl.js"></script>

    <script type="text/javascript" src="/js/controllers/user/users.ctrl.js"></script>

  </body>
</html>
