.cover{
  border: 1px solid #ddd;
  width: 160px;
  /*height: 160px;*/
  margin-right: 50px;
  margin-top: 20px;
}
 a{
  display: inline !important;
  text-decoration: none;
  padding: 10px !important;
 }

/*body{
  background: url('/img/bookpile.jpg');
  background-size: cover;
  background-position: center;
}*/


q{
  position: absolute;
  margin-top: 50px;
  color: green;
  font-size: 20px;
}

.center{
  text-align: center;
  margin: 0 80px;
}
button{
  margin: 10px 5px !important;
}
