<div>
  <div layout layout-align="center center" >
  <md-input-container class="md-icon-float md-padding" flex='25'>
    <label class="md-padding">Search Books</label>
    <!-- <md-icon md-svg-src="../img/ic_search_24px.svg" class="md-padding"></md-icon> -->
    <input ng-model="queryBooks" type="text" ng-required="true">
  </md-input-container>
  <md-button ng-href="#/randombook" class="md-raised md-primary center">Get Random Book</md-button>
  <md-button href="/#/addbook" class="md-raised md-primary center">Add Book</md-button>
  </div>

  <div>
    <md-content>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="book in books | filter:queryBooks">
          <!-- <a href='#/{{book.bookid}}'><img ng-src="{{book.cover}}" class="cover"></a> -->
          <div class="md-list-item-text books">
            <h2>{{book.title}}</h2>
            <a ng-href='#/books/{{book.author}}'><h3><b>{{book.author}}</b></h3></a>
              <br/>
            <div layout="column" style="text-align: center">{{book.blurb}}</div>
            <br/>
            <div>Category: <a ng-href='#/book/{{book.subject}}'>{{book.subject}}</a></div>
            <br/>
            <div layout="column">{{book.pages}} Pages</div>
            <div layout="column">Added By: {{book.addedBy.username}}</div>
            <div>
              <md-button ng-href="#/book/edit/{{book._id}}" class="md-raised md-primary center" ng-disabled="user.username !== book.addedBy.username">Edit Book</md-button>
              <md-button ng-click="showConfirm($event, book._id, $index)" class="md-raised md-primary center" id='remove' ng-disabled="user.username !== book.addedBy.username">Remove Book</md-button>
            </div>
          </div>
          <br/>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
