<div layout="row">
  <div layout="column">
    <md-content layout layout-align="center center" class="md-padding">
      <md-card flex="130">
        <md-toolbar layout layout-align="center center">
          <h1 class="md-toolbar-tools" layout-align-gt-sm="left">Log In</h1>
        </md-toolbar>
        <md-content class="md-padding">
          <md-input-container class="md-icon-float">
            <label>Username</label>
            <md-icon md-svg-src="app/img/ic_person_24px.svg"></md-icon>
            <input ng-model="loginData.username" type="text" ng-required="true">
          </md-input-container>

          <md-input-container class="md-icon-float" >
            <label>Password</label>
            <md-icon md-svg-src="app/img/ic_lock_24px.svg"></md-icon>
            <input ng-model="loginData.password" type="password" ng-required="true">
          </md-input-container>
          <div layout layout-align="center center">
          <md-button ng-click='doLogin()'class="md-raised md-primary center">Log In</md-button>
          </div
        </md-content>
      </md-card>
    </md-content>
  </div>
  <!-- <h3 style="text-align: center">New to AndeBooks?</h3> -->
  <div layout="column">
    <md-content layout layout-align="center center" class="md-padding">
      <md-card flex="130">
        <md-toolbar layout layout-align="right">
          <h1 class="md-toolbar-tools" layout-align-gt-sm="left">New User? Sign Up</h1>
        </md-toolbar>
        <md-content class="md-padding">
          <md-input-container class="md-icon-float">
            <label>Username</label>
            <md-icon md-svg-src="app/img/ic_person_24px.svg"></md-icon>
            <input ng-model="userData.username" type="text" ng-required="true">
          </md-input-container>

          <md-input-container class="md-icon-float" >
            <label>Password</label>
            <md-icon md-svg-src="app/img/ic_lock_24px.svg"></md-icon>
            <input ng-model="userData.password" type="password" ng-required="true">
          </md-input-container>

          <md-input-container class="md-icon-float">
            <label>Email</label>
            <md-icon md-svg-src="app/img/ic_email_24px.svg" class="email"></md-icon>
            <input ng-model="userData.email" type="email" ng-required="true">
          </md-input-container>
          <div layout layout-align="center center">
          <md-button ng-click="createUser(userData)" class="md-raised md-primary center">Sign Up</md-button>
          </div>
        </md-content>
      </md-card>
    </md-content>
  </div>
  <div><i><q>So many books, so little time</q></i></div>
</div>
